<!doctype html>
<html>
  <head>
    <title>Login – <%= shopData.shopName %></title>
    <link rel="stylesheet" type="text/css" href="/main.css">
  </head>
  <body>
    <h1>Login to <%= shopData.shopName %></h1>

    <form method="POST" action="/users/loggedin">
      <p>
        <label for="username">Username:</label>
        <input id="username" type="text" name="username" required>
      </p>

      <p>
        <label for="password">Password:</label>
        <input id="password" type="password" name="password" required>
      </p>

      <p>
        <input type="submit" value="Login">
      </p>
    </form>

    <p><a href="/">Back to Home</a></p>
  </body>
</html>
